target/
.idea/
*.iml
.classpath
.project
.settings/
.DS_Store
*~
**/logs/*
launcher/*
*.sh
*.lua
.java-version
voovan-framework.jar
.rocksdb
dependency-reduced-pom.xml
Web/WEBAPP/VoovanMonitor/*
.vscode/*
